p{
    color: rgb(78, 78, 199);
    text-align: center;
    line-height: 30px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 246);
}

h3 {
    text-align: center;
    color: black;
}
body {
    font-family: Georgia;
}
a {
    color: rgb(0,128,0);
    text-decoration: none;
}
button {
    background-color: white;
    color: blueviolet;
}
textarea {
    color: #000000;
}

span {
    text-decoration: underline;
}
